* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  padding: 0, 2em;
}
button {
  outline: none;
  border: none;
  padding: 0.7em 2em;
  font-size: 1em;
  border-radius: 2em;
  background: #1f1f1f;
  border-radius: 2em;
  color: #fff;
  font-weight: 500;
  margin: 0.5rem;
}
button:hover {
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 40rem;

  text-align: center;
  padding: 5em;
}
#color {
  width: 30rem;
  height: 30rem;
  border-radius: 0.5rem;
  font-family: sans-serif;
  font-weight: 500;
}
